*{
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: 'Yusei Magic', sans-serif;
  }
  
  body{
	background-image: url(../pic/bg.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(6, 9, 90, 0.2);
	height: 100vh;
	padding: 0;
	margin: 0; 
	display: flex;
	flex-direction: column;
	align-items: center;

  }

  .secAllContent{
	  display: flex;
	  flex-direction: column;
	  align-items: center;
  }

  .secResults{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
  }


  .secPlayerChoice{
	display: flex;
	flex-direction: column;
	align-items: center;		
	width: 50%;
  }

  .secChoices{
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: 70%;
  }

  .imgChoices:hover{

	border: .3rem solid purple;
  }

  .secHuman, .secComputer{
	  text-align: center;
	  width: 100%;
  }

  .tablePlayerChoices tr{
	  
	  width: 100%;
  }

  .tablePlayerChoices th{
	  
	font-size: 3rem;
}

  .secScoreboard{
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
	  width: 50%;
  }

  h1{
	  font-size: 4rem;
	  margin-bottom: 0%;
	  color: white;
  }

  h3{
	  font-size: 4rem;
	  color: white;
  }

  h4{
	  font-size: 3rem;
	  color: white;
  }

  .h4Choices{

	margin-top: 5%;
	margin-bottom: 3%;
  }

  #reportWinner{
	  margin-top: 2%;
	  margin-bottom: 0%;
  }

  #summaryChoice{
	margin-top: 2%;
	margin-bottom: 2%;
}

.h3ChoseOne{
	margin-top: 0%;
	margin-bottom: 0%;
	text-align: center;
}

.h3Score{
	margin-top: 0%;
	margin-bottom: 0%;
}
  .imgChoices{
	  height: 13rem;
	  width: 100%;
  }

  #playerChoiceImage, #computerChoiceImage{
	  height: 20rem;
	  width: 70%;
  }

.imgC {
    text-indent: -10000px
}

.secChoiceAndScore{
	display: flex;
	width: 100%;
}

  table, th, td {
	border: 1px solid black;
	font-size: 4rem;
	color: white;
  }

  th{
	  width: 20%;
  }

  .secPlayerChoice table{
	table-layout: fixed;
	width: 90%;
  }

  .secScoreboard table{
	table-layout: fixed;
	 width: 80%;
  }

  .secButton{
	  margin-top: 5%;
  }

  .buttonReset{
	  font-size: 3rem;
	  border-radius: 15%;
  }

  .tracking-in-expand {
	-webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@media only screen and (max-width: 32rem) {

	h1{
		font-size: 1.5rem;
	}

	.h4Choices{
		font-size: 1.2rem;
	}

	.secResults{
		width: 90%;
	}
	#computerChoiceImage, #playerChoiceImage{
		width: 100%;
	}

	#reportWinnter, #summaryChoice{
		font-size: 2rem;
	}

	.secChoiceAndScore{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.secPlayerChoice, .secScoreboard{
		width: 100%;
	}

	.secScoreboard{

		margin-top: 4%;
	}

	.h3ChoseOne{
		font-size: 2rem;
	}

	.secPlayerChoice th{
		font-size: 1.2rem;
	}

	.h3Score{
		font-size: 2.5rem;
	}

	.secScoreboard th{
		font-size: 1.5rem;
	}


}

@media (min-width: 32rem) and (max-width: 65rem) {

	h1{
		font-size: 3rem;
	}

	.h4Choices{
		font-size: 1.5rem;
	}

	.secResults{
		width: 90%;
	}
	#computerChoiceImage, #playerChoiceImage{
		width: 100%;
	}

	#reportWinner, #summaryChoice{
		font-size: 2rem;
	}

	.secChoiceAndScore{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.secPlayerChoice, .secScoreboard{
		width: 100%;
	}

	.secScoreboard{

		margin-top: 4%;
	}

	.h3ChoseOne{
		font-size: 2rem;
	}

	.secPlayerChoice th{
		font-size: 1.8rem;
	}

	.h3Score{
		font-size: 2.5rem;
	}

	.secScoreboard th{
		font-size: 2rem;
	}


}

@media (min-width: 65rem) and (max-width: 90rem) {

	.secPlayerChoice th{
		font-size: 2.2rem;
	}

	.secScoreboard th{
		font-size: 3rem;
	}


}

/* ----------------------------------------------
 * Generated by Animista on 2021-3-11 23:18:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
	0% {
	  letter-spacing: -0.5em;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes tracking-in-expand {
	0% {
	  letter-spacing: -0.5em;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
	  opacity: 1;
	}
  }
  

  